<div class="homepage myFont-sans">
    <h1>RECENT BLOGS</h1>

    <ol class="myFont-serif">
        {{#each posts as |post|}}
        <li>
            {{> post-preview post}}
        </li>
        {{/each}}
    </ol>
</div>