<div class="login-page">
    <form class="login-form cut-out myFont-sans">
    <h1>LOG IN</h1>
        <div>
            <label for="email-login" class="myFont-serif">email:</label>
            <input type="text" id="email-login" class="myFont-sans sans-medium" />
        </div>
        <div>
            <label for="password-login" class="myFont-serif">password:</label>
            <input type="password" id="password-login" class="myFont-sans sans-medium" />
        </div>
        <div class="log-btn">
            <button type="submit" class="myFont-serif">login</button>
        </div>
    </form>


    <form class="signup-form cut-out myFont-sans">
        <h1>SIGN UP</h1>
        <div>
            <label for="username-signup" class="myFont-serif">username:</label>
            <input type="text" id="username-signup" class="myFont-sans sans-medium" />
        </div>
        <div>
            <label for="email-signup" class="myFont-serif">email:</label>
            <input type="text" id="email-signup" class="myFont-sans sans-medium" />
        </div>
        <div>
            <label for="password-signup" class="myFont-serif">password:</label>
            <input type="password" id="password-signup" class="myFont-sans sans-medium" />
        </div>
        <div class="log-btn">
            <button type="submit" class="myFont-serif">signup</button>
        </div>
    </form>
</div>

<script src="/javascript/login.js"></script>