<article>
    <div>
        <h1>{{post.title}}</h1>
    </div>
    <div>
        by {{post.user.username}} on
        {{created_at}}
        |
        {{post.comments.length}} comment(s)
    </div>
</article>
<br>

{{#if loggedIn}}
<form class="comment-form">
    <div>
        <textarea name="comment-body"></textarea>
    </div>

    <div>
        <button type="submit">add comment</button>
    </div>
</form>
{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}