:root {
    --plain-white: #ffffff;
    --muted-green: #7fa175;
    --calming-orange: #c57e4e;
    --blue-grey: #5c5e6d;
    --dark-grey: #3d3f4b;
    --shadow: ;
}

.myFont-serif {
    font-family: fairplex-wide, serif;
    font-weight: 700;
    font-style: normal;
}

.myFont-sans {
    font-family: semplicitapro, sans-serif;
    font-weight: 700;
    font-style: italic;
}

.sans-bold {
    font-style: normal;
}

.sans-medium {
    font-weight: 100;
    font-style: normal;
}

 /* GENERAL STYLING */
 * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 }

 a {
    text-decoration: none;
 }

 input:focus {
    outline: none;
 }

 button {
    transition: .5s ease;
    border: none;
 }

 button:hover {
    cursor: pointer;
    background-color: var(--muted-green);
 }

body {
    background-color: var(--blue-grey);
    display: flex;
    justify-content: center;
}

main {
    margin-bottom: 4vw;
}

/* MAIN.HANDLEBARS */
.main {
    background-color: var(--dark-grey);
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 0 4px 8px 3px rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

header {
    display: flex;
    justify-content: space-between;
    padding: 1.5vw 2.8vw;
}

footer {
    text-align: center;
    color: var(--muted-green);
    margin-top: auto;
    margin-bottom: 20px;
}

.main header h1 a {
    color: var(--muted-green);
    font-size: 3vw;
}

.main header nav a {
    font-size: 1.2vw;
    color: var(--plain-white);
    margin-right: 2vw;
    transition: .5 ease;
}

.cut-out {
    background-color: var(--blue-grey);
    border-radius: 1.5vw;
    padding: .8vw 2vw;
    box-shadow: 0 4px 8px 3px rgba(0, 0, 0, 0.4) inset, 0 6px 20px 0 rgba(78, 29, 29, 0.19) inset;
}

.small-cut {
    padding: 1.3vw 2vw;
}

.main header nav button {
    background-color: var(--blue-grey);
    border: none;
    color: var(--plain-white);
    font-size: 1.2vw;
    border-left: 2px solid white;
    padding-left: 2vw;
    transition: .5s ease;
}

/* HOMEPAGE */
main {
    padding: 0vw 6vw;
}

main .homepage h1 {
    font-size: 4vw;
    color: var(--calming-orange);
    border-bottom: 5px solid var(--plain-white);
}

/* POSTS */
ol {
    color: var(--calming-orange);
    font-size: 24px;
    margin-top: 40px;
}

ol article, ol article div {
    display: flex;
    flex-wrap: wrap;
}

li a {
    color: white;
}

.post-meta p, .post-meta a {
    font-size: 20px;
    line-height: 95px;
    margin-left: 15px;
}

.info-green {
    color: var(--muted-green);
}

.post-title {
    font-size: 48px;
    transition: .5s ease;
}

.post-title:hover {
    color: var(--muted-green);
}

/* LOGIN */
header nav div .login {
    margin-right: 0;
}

.login-page {
    margin-top: 2.8vw;
    display: flex;
    justify-content: space-between;
}

.login-page form h1 {
    color: var(--calming-orange);
    font-size: 3.3vw;
    margin-bottom: 3vw;
}

.login-form, .signup-form {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    padding-top: 2vw;
    padding-bottom: 2.5vw;
    width: 45%;
    height: 70vh;
}

.login-form div label, .signup-form div label {
    color: var(--muted-green);
    font-size: 2vw;
}

.login-form div input, .signup-form div input {
    background-color: var(--dark-grey);
    border: none;
    font-size: 1.8vw;
    color: var(--plain-white);
    width: 100%;
    padding: 10px 15px 10px 15px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.login-form div input:focus, .signup-form div input {
    outline: none;
}

.login-page button {
    color: white;
    background-color: var(--calming-orange);
    font-size: 2.2vw;
    border: none;
    border-radius: 10px;
    padding: 10px;
    transition: .5s ease;
}

.login-page button:hover {
    background-color: var(--muted-green);
}

.log-btn {
    margin-left: auto;
    margin-top: auto;
}

/* DASHBOARD */
section {
    margin-top: 1.5vw;
}

section h2 {
    color: var(--calming-orange);
    font-size: 2.5vw;
    border-bottom: 5px solid var(--plain-white);
}

section .new-post-form {
    margin-top: 1.5vw;
}

section .new-post-form div {
    margin-bottom: 1.5vw;
}

section .new-post-form label {
    color: var(--plain-white);
    font-size: 2vw;
}

section .new-post-form input {
    font-size: 2vw;
    background-color: var(--blue-grey);
    color: var(--plain-white);
    border: none;
    border-radius: 10px;
    width: 93%;
    padding: 8px 20px 8px 20px;
}

section .new-post-form input:focus {
    outline: none;
}

section .new-post-form button {
    color: white;
    background-color: var(--calming-orange);
    font-size: 1.5vw;
    border: none;
    border-radius: 10px;
    padding: 8px 15px;
    transition: .5s ease;
    margin-right: 1.5vw;
    float: right;
}

section .new-post-form button:hover {
    background-color: var(--muted-green);
}

.sub-title {

    font-size: 40px;
}

.dashboard-meta {
    line-height: 75px;
}

.dashboard-meta, .dashboard-meta span, .dashboard-meta .info-green {
    margin-right: 8px;
    margin-left: 8px;
}

.edit-link {
    font-size: 1vw;
    background-color: var(--calming-orange);
    padding: 5px 10px 5px 10px;
    border-radius: 8px;
}

.dashboard-section ol li {
    margin-bottom: 1.5vw;
}

/* SINGLE POST */

.single-post-section h1 {
    color: var(--calming-orange);
    border-bottom: 5px solid var(--plain-white);
}

.post-info {
    margin-top: 1vw;
    color: white;
    font-size: 1vw;
}

.comment-form textarea {
    border: none;
    width: 100%;
    color: white;
    font-size: 1vw;
}

.comment-form textarea:focus {
    outline: none;
}

.add-comment-btn-div {
    display: flex;
    justify-content: flex-end;
}

.add-comment-btn {
    align-self: end;
    background-color: var(--calming-orange);
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 10px;
    font-size: 1vw;
    margin-top: 1vw;
}

.comment-text {
    color: white;
    font-size: 1.5vw;
}

.comment-meta {
    color: var(--calming-orange);
    font-size: .8vw;
}

.comment-meta span {
    color: var(--muted-green);
}

/* EDIT POST */
.edit-post-form input {
    color: var(--plain-white);
    width: 100%;
    border: none;
}

.edit-post-form .edit-meta {
    margin: 1vw 0;
    color: var(--calming-orange);
    font-size: 1vw;
    margin-right: 0;
    margin-left: auto;
}

.edit-post-form .edit-meta span {
    color: var(--muted-green);
}

.edit-post-form button {
    color: var(--plain-white);
    background-color: var(--calming-orange);
    padding: 5px 15px;
    font-size: 1vw;
    border-radius: 10px;
    margin: 0 5px 1vw 5px;
    transition: .5s ease;
}

.edit-post-form button:hover {
    background-color: var(--muted-green);
}

.edit-title {
    color: var(--calming-orange);
    border-bottom: 5px solid var(--plain-white);
    margin-bottom: 1vw;
}
